
#nameinput
{
  position:absolute;
  z-index: 2;
  width: 20%;
  height: 5%;
  left: 40%;
  margin-top: 35%;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 150%;
  text-align: center;
  border-radius: 12px;
}

#image
{
  position: absolute;
  z-index: 1;
}

body
{
  margin: 0;
  background-color: #2f3a6f;
  overflow: hidden;
}

.button {
  left: 45%;
  top: 85%;
  z-index: 2;
  position: absolute;
  display: inline-block;
  border-radius: 12px;
  background-color: #090430;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 10%;
  transition: all 0.5s;
  cursor: pointer;
}
  
.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

#title {
  position: absolute;
  z-index: 2;
  left: 22%;
  top: 0vw;
  font-size: 11vw;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  letter-spacing: 10%;
  color: transparent;
  animation: effect 6s linear infinite;
}

@keyframes effect {
  0% {
    background: rgb(9,28,87);
    -webkit-background-clip: text;
  }
  10% {
    background: rgb(24,41,88);
    -webkit-background-clip: text;
  }
  20% {
    background: rgb(40,62,102);
    -webkit-background-clip: text;
  }
  30% {
    background: rgb(60,92,126);
    -webkit-background-clip: text;
  }
  40% {
    background: rgb(78,111,135);
    -webkit-background-clip: text;
  }
  50% {
    background: rgb(96,124,141);
    -webkit-background-clip: text;
  }
  60% {
    background: rgb(123,156,169);
    -webkit-background-clip: text;
  }
  70% {
    background: rgb(104,149,197);
    -webkit-background-clip: text;
  }
  80% {
    background: rgb(36,91,142);
    -webkit-background-clip: text;
  }
  90% {
    background: rgb(6,77,135);
    -webkit-background-clip: text;
  }
  95% {
    background: rgb(24,41,88);
    -webkit-background-clip: text;
  }
  100% {
    background: rgb(9,28,87);
    -webkit-background-clip: text;
  }
}
